<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Amazon">
<parameter name="browser" value="edge"></parameter>
<listeners>
<listener class-name="com.amazon.utilities.ExtentReport"></listener>
</listeners>
<parameter name="url" value="https://www.amazon.in/"></parameter>
<test name="search" thread-count="5">
<classes>
<class name="com.amazon.search.Search">
	<methods>
	<include name="validate_Search"></include>
	</methods>
	
</class>
<class name="com.amazon.search.AddToCartPage"></class>
</classes>
</test>
</suite>